<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
  <name>pixplus</name>
  <description>pixivでイラストをページ遷移せずにポップアップ表示し、概ねキーボードのみでイラストの移動や評価などを行う。その他雑多な機能いろいろ。</description>
  <author href="http://my.opera.com/crckyl/">wowo</author>
  <access origin="http://pixiv.net" subdomains="true" />
  <icon src="pixplus_64.png" />
  <icon src="pixplus_16.png" />
</widget>