.pp-apng-generator {
  text-align: center;

  .pp-dialog-content {
    width: 640px;
  }

  #pp-apng-generator-error {
    color: #800;
    font-weight: bold;
    text-align: left;
    white-space: pre-wrap;
  }

  &.pp-done .pp-progress-bar {
    display: none;
  }

  #pp-apng-generator-preview {
    max-width: 100%;
    max-height: 480px;
    margin: 0.2em;
  }

  #pp-apng-generator-howtosave:not(.pp-show) {
    display: none;
  }

  &:not(.pp-preparing) {
    #pp-apng-generator-preparing {
      display: none;
    }
  }

  &:not(.pp-done) {
    #pp-apng-generator-preview,
    .pp-dialog-action-download {
      display: none;
    }
  }

  &:not(.pp-error) {
    #pp-apng-generator-error {
      display: none;
    }
  }

  &.pp-done, &.pp-error {
    #pp-apng-generator-warning,
    .pp-dialog-action-generate {
      display: none;
    }
  }
}
