.pp-icons-font {
  font-family: "PixplusIcons";
}

.pp-control {
  border: 1px solid #becad8;
  border-radius: 2px;
  padding: 0.1em 0.3em;
  margin: 0.2em;
}

.pp-toplevel {
  input, button, select, textarea {
    @extend .pp-control;
  }

  input[type="checkbox"] {
    padding: 1px;
  }

  button {
    white-space: nowrap;
    background-color: #f2f4f6;

    &:hover {
      background-color: #ddeaf6;
    }
    &:active {
      background-color: #becad8;
    }
  }
}

.pp-hide {
  display: none;
}

.pp-sprite {
  background-image: url("http://source.pixiv.net/www/images/sprites-sa61cacfa96.png");
}

input.pp-flat-input {
  border: none;
  &:not(:hover):not(:focus) {
    background: transparent;
  }
}

.pp-slider {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 4px;

  .pp-slider-rail {
    position: relative;
    width: 160px;
    height: 2px;
    background-color: #aaa;
  }

  .pp-slider-knob {
    position: absolute;
    border: 1px outset #ddd;
    background-color: #ccc;
    width: 6px;
    height: 14px;
    margin: -7px -4px;
  }

  &.pp-debug {
    outline: 1px solid rgba(255,0,0,0.5);

    .pp-slider-rail{
      background-color: #0f0;
    }

    .pp-slider-knob {
      border: 1px solid #f0f;
      background-color: #00f;
      opacity: 0.5;
    }
  }
}

.pp-popup-menu {
  position: fixed;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 3px 0px;
  z-index: 30000;
  white-space: pre;

  .pp-popup-menu-item {
    &:hover {
      background-color: #ddd;
    }

    >label, >a {
      display: block;
      padding: 0.3em 0.6em;
      color: inherit;
      text-decoration: none;
    }

    input[type="checkbox"] {
      border: 1px solid #aaa;
      cursor: pointer;
      vertical-align: bottom;
    }
  }
}

.pp-progress-bar {
  @extend .pp-control;

  padding: 0px;
  margin: 0.2em;
  background-color: #eee;

  .pp-progress {
    background-color: #d6dee5;
    width: 0px;
    height: 2em;
  }
}

.pp-dialog {
  position: fixed;
  z-index: 22000;
  background-color: #fff;
  border: 0.3em solid #6082a1;
  box-shadow: 0px 0px 1em 0.2em rgba(0, 0, 0, 0.6);

  .pp-dialog-title {
    background-color: #6082a1;
    padding: 0.2em 0.4em;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }

  .pp-dialog-actions {
    text-align: center;

    .pp-dialog-action + .pp-dialog-action {
      margin-left: 0.2em;
    }
  }
}

.pp-tooltip {
  position: absolute;
  padding: 0.1em 0.3em;
  border-radius: 2px;
  background-color: #333;
  color: #fff;
  white-space: nowrap;
  z-index: 20002;

  &:empty {
    display: none;
  }
}


/********************************\
  floater
\********************************/

.pp-float {
  position: fixed;
  top: 0px;
  z-index: 90;
}

.column-action-menu.pp-float:not(:hover) {
  opacity: 0.6;
}


/********************************\
  search
\********************************/

#pp-search-header {
  background-color: #fff;

  &.pp-float:not(:hover) {
    opacity: 0.6;
  }
}

#pp-search-size-custom input[type="text"] {
  width: 3em;
  padding: 0px;
  height: auto;
  border: 1px solid #eee;
}

#pp-search-ratio-custom-text {
  width: 3em;
  padding: 0px;
  height: auto;
}

#pp-search-ratio-custom-preview {
  display: none;
}

input[type="range"]:active ~ #pp-search-ratio-custom-preview,
.pp-slider.pp-active ~ #pp-search-ratio-custom-preview,
input[type="text"]:focus ~ #pp-search-ratio-custom-preview {
  display: block;
}

#pp-search-ratio-custom-preview {
  position: absolute;
  margin-top: 0.4em;

  div {
    background-color: #ccc;
  }
}


/********************************\
  bookmark tag list
\********************************/

.pp-bookmark-tag-list ul + ul {
  &:not(.tagCloud) {
    border-top: 2px solid #dae1e7;
  }
  &.tagCloud {
    border-bottom: 2px solid #dae1e7;
  }
}
