@import "config-button";
@import "pixplus-24";

#pp-config-btn1 {
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: 3px solid #f2f4f6;
  background: #f2f4f6 $icon-config-button no-repeat 6px 1px;

  &:hover {
    background-color: #ddeaf6;
    border-color: #ddeaf6;
  }

  &.pp-active {
    position: relative;
    z-index: 10001;
    background-color: #fff;
    height: 27px;
    border-color: #becad8;
    border-bottom: none;
    border-radius: 0px 5px 0px 0px;
  }
}

#pp-config-btn1-wrapper #pp-config {
  position: absolute;
  z-index: 10000;
  top: 27px;
  left: -400px;
  width: 800px;
  background-color: #fff;
  border: 3px solid #becad8;
  border-radius: 10px;

  .pp-config-tab:first-child:hover {
    margin: -1px 0px 0px -1px;
    border-top-left-radius: 8px;
    border: 1px solid #becad8;
    border-right: none;
    border-bottom: none
  }
}

#pp-config-btn-fallback {
  position: fixed;
  right: 0px;
  top: 0px;
  opacity: 0.2;
  padding: 16px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-image: $icon-pixplus-24;

  &:hover, &.pp-active {
    opacity: 1;
  }
}

#pp-config-btn-fallback-wrapper #pp-config {
  position: fixed;
  background-color: #fff;
  width: 800px;
  border: 3px solid #becad8;
  border-radius: 10px;

  .pp-config-tab:first-child:hover {
    margin: -1px 0px 0px -1px;
    border-top-left-radius: 8px;
    border: 1px solid #becad8;
    border-right: none;
    border-bottom: none;
  }
}


#pp-config {
  line-height: 1.2em;

  &:not(.pp-show) {
    display: none;
  }

  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  li {
    display: block;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0px;

    td {
      padding: 0px 0.2em;
    }
  }

  label {
    cursor: pointer;
  }

  #pp-config-tabbar {
    border-bottom: 2px solid #becad8;

    label {
      cursor: pointer;
    }

    .pp-config-tab {
      display: inline-block;
      padding: 0.4em 0.6em;
      font-weight: bold;

      &:hover {
        background-color: #d6dee5;
      }

      &.pp-active {
        background-color: #becad8;
      }
    }
  }

  #pp-config-close-button {
    padding: 0.4em;
  }

  #pp-config-content-wrapper {
    padding: 0.4em;
    overflow-x: visible;
    overflow-y: auto;
  }

  .pp-config-content {
    display: none;

    &.pp-active {
      display: block;
    }

    tr:nth-child(even):not(.pp-config-subsection-title) td {
      background-color: #f2f4f6;
    }

    dl {
      margin-top: 1.2em;
      dt {
        margin-top: 0.4em;
      }
      dd {
        margin-left: 1em;
      }
    }

    .pp-config-subsection-title div {
      font-weight: bold;
      border-bottom: 1px solid #becad8;
      border-left: 0.8em solid #becad8;
      margin-top: 1.6em;
      margin-bottom: 0.4em;
      padding: 0.3em 0.2em;
    }
  }

  .pp-config-content-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.1em;
    margin-bottom: 0.2em;
  }

  #pp-config-bookmark-content textarea {
    width: 100%;
    height: 20em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

  #pp-config-bookmark-tag-aliases {
    width: 100%;

    td:last-child {
      width: 100%;

      input {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  #pp-config-importexport-toolbar {
    margin-bottom: 0.2em;

    button {
      margin-right: 0.2em;
    }
  }

  #pp-config-importexport-content textarea {
    width: 100%;
    height: 30em;
    box-sizing: border-box;
  }

  #pp-config-langbar {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaa;

    button {
      margin-right: 0.2em;
      padding: 0.2em 0.4em;
    }
  }

  #pp-config-escaper {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #aaa;

    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  #pp-config-debug-content td {
    border: 1px solid #aaa;
    padding: 0.1em 0.2em;
  }

  input.pp-active {
    background-color: #ffc;
  }
}

.pp-config-regexp-editor {
  .pp-dialog-content {
    padding: 0.2em;
  }

  textarea {
    width: 100%;
    height: 10em;
    margin: 0px;
    box-sizing: border-box;
  }

  table {
    white-space: pre;
  }
}

.pp-config-regexp-editor-status {
  font-weight: bold;

  &.pp-yes {
    color: green;
  }

  &.pp-no {
    color: red;
  }
}

.pp-config-key-editor {
  ul {
    margin: 0.2em;
  }
}
