#pp-popup-tagedit-button {
  width: 1em;
  height: 1em;
  opacity: 0.6;
  cursor: pointer;
  vertical-alignment: bottom;

  &:hover {
    opacity: 0.8;
  }
}

#pp-popup-tagedit-wrapper {
  font-size: 12px;
  overflow: auto;

  #tag-editor > div {
    margin: 0px !important;
  }
}

#pp-popup.pp-tagedit-mode {
  #pp-popup-header,
  #pp-popup-image-wrapper,
  .pp-popup-olc {
    display: none;
  }
}

#pp-popup:not(.pp-tagedit-mode) #pp-popup-tagedit-wrapper {
  display: none;
}
