.pp-vote-dialog {
  min-width: 400px;

  .pp-vote-question {
    font-size: 120%;
    text-align: center;
    margin: .4em;
  }

  ul li {
    margin: .2em;

    button {
      cursor: pointer;
      font-size: 200%;
      text-align: center;
      padding: 0.4em;
      margin: 0px;
      background-color: #eee;
      box-sizing: border-box;
      width: 100%;

      &:hover {
        background-color: #ddd;
      }
      &:active {
        background-color: #aaa;
      }
    }
  }

  .pp-vote-result-expander {
    margin-top: .6em;
  }
}
